<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Odin Project</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1 class="title">Welcome to the BLANK PAGE</h1>
    <navbar>
        <ul>
            <li><a id="youtube" class="nav-btn" target="_blank" href="https://youtube.com">Youtube</a></li>
            <li><a class="nav-btn" target="_blank" href="https://blank.page/">Blank</a></li>
            <li><a href="" class="nav-btn" target="_blank">btn</a></li>
        </ul>
    </navbar>
</body>
</html>